$color-primary: #81c2de;
$color-primary-light: #b4f5ff;
$color-primary-dark: #4f92ac;

$color-white: #fffbfa;

$color-black: #737272;

.contact {
  min-height: 100vh;
  background-color: #1c1d20;
  padding: 30px 0 30px 0;
  position: relative;

  &__content {
    text-align: center;
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    margin-top: auto;
    margin-bottom: auto;
    top: 50%;
    left: 50%;
  }
  &__content-top {
    color: white;
    font-size: clamp(1.4em, 1.5vw, 2.3em);
    margin-bottom: 10px;
    text-decoration: underline;
  }
  &__content-title {
    color: white;
    font-size: clamp(2em, 1.5vw, 2.3em);
    margin-bottom: 15px;
  }
  &__content-email span {
    cursor: pointer;
    display: block;
    color: white;
    font-size: clamp(1.2em, 1.5vw, 2.3em);
    text-decoration: solid;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 10px;
    transition: all 0.5s;
  }

  &__content-email span:hover {
    color: orange;
  }

  &__content-email {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__socials-item {
    margin-top: 40px;
  }

  &__socals-item a {
    font-size: clamp(1.9em, 1.8vw, 2.3em);
  }
}

.email-icon svg {
  width: 40px;
  fill: rgb(226, 80, 61);
}

.footer {
  border-top: 1px solid white;
  height: 50px;
  &__content {
    padding: 0 calc(30px + 1vw);
  }
  &__text {
    cursor: default;
    text-align: center;
    color: white;
    margin-top: calc(10px + 0.5vw);
    font-size: clamp(1.2em, 1.2vw, 1.6em);
  }
}

.social-link-text {
  text-decoration: none;
  font-size: 25px;
  color: white;
  animation: all 0.3s;
}

.social-link-text:hover {
  color: #2d76b0;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-right: 60%;
}

.popup .popuptext::after {
  content: '';
  position: absolute;
  top: 96%;
  left: 0;
  // margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.social-link {
  cursor: pointer;

  &--github {
    color: #3a1d93;
  }

  & .social-svg {
    width: calc(25px + 2 * 2.5vw);
    height: calc(25px + 2 * 2.5vw);

    & .social-group {
      &__icon {
        animation: 1.5s linear infinite alternate gitIcon;
      }

      &__inner-circle {
        animation: 1.5s linear infinite alternate gitInner;
      }

      &__outline {
        animation: 1.5s linear infinite alternate gitOutline;
      }
    }
  }
}

@keyframes gitIcon {
  to {
    fill: $color-black;
  }

  from {
    fill: $color-white;
  }
}

@keyframes gitInner {
  to {
    fill: transparent;
  }

  from {
    fill: currentColor;
  }
}

@keyframes gitOutline {
  to {
    stroke: $color-black;
    transform-origin: 50% 50%;
  }

  from {
    stroke: currentColor;
    transform-origin: 50% 50%;
    transform: scale(1.1);
  }
}

//

@media (max-width: 799px) {
  .footer__text {
    font-size: calc(12px + 0.5vw);
  }

  .footer__content {
    padding: 0;
  }
}
