:root {
  --container-padding: clamp(2.5em, 8vw, 8em);
}

.works {
  background-color: white;
  padding: 15px;

  &__title {
    font-size: calc(10px + 0.7vw);
    font-weight: 400;
    margin-top: 120px;
    opacity: 0.6;
    color: #27282b;
  }

  &__container {
    margin: 0 calc(40px + 0.4vw);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  &__line {
    background-color: black;
    height: 1px;
    opacity: 0.2;
    margin-top: 10px;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__content {
    position: relative;
  }

  &__recent-item {
    cursor: pointer;
    list-style: none;
  }

  &__preview {
    position: absolute;
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
}

.preview {
  pointer-events: none;
  display: none;
  &__box {
    width: 100%;
    height: 100%;
    display: flex;
  }
  &__image {
    display: flex;
  }
}

.work {
  &__link {
    text-decoration: none;
    display: flex;
    padding: calc(20px + 1vw) 70px;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    color: #27282b;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &__link:hover {
    padding: calc(20px + 1vw) 50px;
    opacity: 0.3;
  }

  &__title {
    font-size: calc(clamp(3.1em, 6vw, 8em) * 0.7);
    font-weight: 400;
  }
  &__tecnology {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__tecnology-name {
    text-align: left;
    font-size: calc(clamp(1.5em, 1.1vw, 3em) * 0.7);
    font-weight: 400;
  }
}

// adaptive

@media (max-width: 800px) {
  .works__container {
    margin: 0;
  }

  .work__title {
    font-size: calc(clamp(2em, 4vw, 4em) * 0.7);
  }

  .work__tecnology-name {
    font-size: calc(clamp(1.1em, 1vw, 1.6em) * 0.7);
  }
}
