header {
  // background-color: #999d9e;
  background-color: white;
  min-height: 100vh;
  color: white;
  position: relative;
  overflow: hidden;
  pointer-events: all;
}

.navbar {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  z-index: 2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left-menu {
    display: flex;
    align-items: center;
  }

  &__right {
    cursor: pointer;
  }

  &__right-logo {
    padding: 10px;
    font-size: clamp(1em, 1.3vw, 2.3em);
    cursor: pointer;
    list-style: none;
    border-radius: 7px;
    text-decoration: none;
    transition: all 0.6s;
  }

  &__right-logo:hover {
    color: black;
  }
}

.menu {
  position: relative;
  padding-left: 10%;
  &__item {
    padding: 14px;
    cursor: pointer;
    list-style: none;
    position: relative;
    transition: all 0.4s;
    background-color: none;
    border-radius: 7px;
    margin-right: 10px;
  }

  &__item span {
    // font-size: clamp(2.3vw, 1.5vw, 2.3em);
    font-size: calc(10px + 0.7vw);
    text-shadow: -6px 2px 9px rgba(0, 0, 0, 0.265);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item:hover {
    background-color: white;
    color: black;
  }
}

.personal {
  position: absolute;
  height: 115%;
  width: 100%;
  top: -10%;
  z-index: 1;

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 20;
  }

  &__expl {
    position: absolute;
    top: -5px;
    left: -2px;
    right: 0;
    width: 105%;
    height: 100%;
    z-index: 10;
    object-fit: cover;
  }

  &__picture-image {
    object-fit: cover;
    height: 100%;
    width: auto;
    bottom: 0;
    position: absolute;
    right: 10%;
    z-index: 50;
    // transform: translateX(-50%);
  }

  &__picture-image img {
    z-index: 50;
  }
}

.information {
  width: 100vw;
  height: 70vh;
  z-index: 5;
  position: relative;
  cursor: default;

  &__box {
    padding: 10px 0;
    height: 100%;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  &__text {
    z-index: 5;
    position: relative;
    // font-size: clamp(2em, 3vw, 7em);
    font-size: calc(20px + 1.6vw);
    text-shadow: -6px 2px 9px rgba(0, 0, 0, 0.265);
    text-align: center;
  }

  &__text-br {
    padding: 10px 0;
  }
}

.big-name {
  z-index: 5;
  bottom: 0;
  width: 100%;
  position: absolute;
  cursor: default;
}

.name {
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  position: relative;

  &-item {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    margin: 0 50px;
    font-size: calc(7vw);
    text-shadow: -6px 2px 9px rgba(0, 0, 0, 0.265);
  }
}

.block {
  padding: 100px;
}

// adaptive

@media (max-width: 650px) {
  .navbar {
    visibility: hidden;
  }

  .personal__picture-image {
    object-fit: cover;
    height: 90%;
    right: 0;
    //
  }
}

@media (max-width: 435px) {
  .personal__picture-image {
    object-fit: cover;
    height: 90%;
    left: -50px;
  }

  .information__box {
    right: 0;
    bottom: -30%;
  }
}
