@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('./locomotive-scroll.css');
@import url('./Sections/Header/_header.scss');
@import url('./Sections/About/_about.scss');
@import url('./Sections/Works/_works.scss');
@import url('./Sections/Subjects/_subjects.scss');
@import url('./Sections/Footer/_footer.scss');

:root {
  --container-padding: clamp(2.5em, 8vw, 8em);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  background-color: #1c1d20;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  width: 100%;
  position: relative;
}

.price-1 {
  display: flex;
  margin-bottom: 100px;
  border: 1px solid #e0e0e0;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
}

.image-container {
  width: 200px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.content {
  flex: 1;
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: #94a5b7;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  color: #e74c3c;
  margin-top: 10px;
}

.description {
  color: #7f8c8d;
}

.btn-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 24px;
  z-index: 50;
  position: fixed;
  opacity: 0.65;
  transition: all 0.6s;
}

.btn-hamburger:hover {
  opacity: 1.1;
}

.hamburger-inside {
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
  background-color: #3e62ff;
  border-radius: 50%;
  position: relative;
}

.hamburger-symbol {
  height: 100%;
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 calc(100px + 1.32vw);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.black-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.black-background span {
  color: white;
  font-size: 30px;
  display: inline-block;
}

.hide {
  display: none;
}

.black-inside {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  will-change: top;
}

.top-btn div {
  font-size: calc(15px + 1.7vw);
  font-weight: 600;
}

.top-btn {
  color: rgb(136, 89, 2);
  list-style: none;
  transition: all 0.3s;
  text-decoration: underline;
  text-decoration-color: rgba(17, 16, 22, 0);
}

.top-btn:hover {
  color: orange;
  text-decoration-color: orange;
}

.sidebar-wrapper {
  display: none;
  position: fixed;
  width: 30%;
  height: 100vh;
  right: 0;
  background-color: rgba(17, 16, 22, 0.873);
  z-index: 20;
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sidebar__menu {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  color: white;
  transition: all 0.4s;
}

.sidebar__menu-item:hover {
  background-color: aliceblue;
  color: black;
}

.leftmenu__text {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(10px + 1.5vw) 0;
  font-size: calc(20px + 1.1vw);
  cursor: pointer;
}

#sidebar {
  transition: all 0.4s;
}

.sidebar-hide {
  transform: translateX(100%);
}

.body_hide {
  opacity: 0;
}

.body_visible {
  transition: 1.2s opacity ease-in-out;
  opacity: 1;
}

@media (max-width: 800px) {
  .sidebar-wrapper {
    width: 40%;
  }
}