@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('./locomotive-scroll.css');
@import url('./Sections/Header/_header.scss');
@import url('./Sections/About/_about.scss');
@import url('./Sections/Works/_works.scss');
@import url('./Sections/Footer/_footer.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  background-color: #1c1d20;
}

.app {
  width: 100%;
  position: relative;
}

.btn-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  right: 40px;
  z-index: 50;
  position: fixed;
}

.hamburger-inside {
  cursor: pointer;
  width: 0;
  height: 0;
  background-color: #3e62ff;
  border-radius: 50%;
  position: relative;
}

.hamburger-symbol {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  margin-top: 6px;
}

.main-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
