@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('./locomotive-scroll.css');
@import url('./Sections/Header/_header.scss');
@import url('./Sections/About/_about.scss');
@import url('./Sections/Works/_works.scss');
@import url('./Sections/Subjects/_subjects.scss');
@import url('./Sections/Footer/_footer.scss');

:root {
  --container-padding: clamp(2.5em, 8vw, 8em);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  background-color: #1c1d20;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  width: 100%;
  position: relative;
}

.btn-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  right: 40px;
  z-index: 50;
  position: fixed;
}

.hamburger-inside {
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
  background-color: #3e62ff;
  border-radius: 50%;
  position: relative;
}

.hamburger-symbol {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  margin-top: 6px;
}

.main-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: 100em;
}

.black-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.black-background span {
  color: white;
  font-size: 30px;
  display: inline-block;
}

.hide {
  display: none;
}

.black-inside {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  will-change: top;
}
