.subjects {
  overflow: hidden;
  background-color: white;
  opacity: 1;
  pointer-events: all;

  &__container {
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    cursor: pointer;
    text-align: center;
    font-size: calc(15px + 0.6vw);
    color: rgba(46, 45, 45, 0.833);
    margin-bottom: 70px;
    margin-top: 20px;
  }

  &__title:hover {
    color: blue;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100vw;
    // left: -10vw;
  }
}

.flex-col {
  display: block;
  order: 2;
  position: relative;
  width: 35%;
  padding: calc(var(--gap-padding) / 2);
  padding: 1.25vw;
  will-change: transform;
}
.horizontal-single-item {
  position: relative;
}

.horizontal-single-item::before {
  display: block;
  content: '';
  padding-top: 75%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hover-work {
  cursor: pointer;
  z-index: 30;
  position: absolute;
  background-color: rgba(30, 30, 30, 0.705);
  transition: all 0.3s;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-title {
  color: white;
  margin-bottom: 20px;
  font-size: calc(20px + 0.8vw);
}

.hover-link {
  width: calc(40px + 2vw);
  height: calc(40px + 2vw);
  border-radius: 50%;
  background-color: rgba(33, 33, 249, 0.887);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.hover-link a {
  color: white;
  font-size: calc(20px + 0.6vw);
  text-decoration: none;
}

.hover-link a:hover .hover-link {
  background-color: rgba(67, 67, 253, 0.887);
}

.video {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  display: inline-block;
}

.flex-col:hover {
  .hover-work {
    opacity: 1;
  }
}

// adaptive

@media (max-width: 800px) {
  .subjects__row {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .flex-col {
    width: 60%;
  }
}
